<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.web>
    <identity impersonate="false" /> 
  </system.web>
  <system.webServer>
    <rewrite>
  <rules>
    <rule name="Imported Rule 1" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <add input="{URL}" pattern="^/webitor/api.*$" ignoreCase="false" />
      </conditions>
      <action type="Rewrite" url="webitor/webitor_api.php" appendQueryString="true" />
    </rule>
    <rule name="Imported Rule 2" stopProcessing="true">
      <match url="^(.*)$" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
        <add input="{URL}" pattern="^/webitor/api.*$" ignoreCase="false" negate="true" />
      </conditions>
      <!-- <action type="Rewrite" url="/HDBS_Puja_Payments/index.php" appendQueryString="true" /> -->
       <action type="Rewrite" url="index.php" appendQueryString="true" />
    </rule>
  </rules>
</rewrite>
    <directoryBrowse enabled="false" />

    <!-- Block direct HTTP access to sensitive files (replaces .htaccess FilesMatch on IIS) -->
    <security>
      <requestFiltering>
        <denyUrlSequences>
          <add sequence="env.php" />
        </denyUrlSequences>
        <fileExtensions>
          <add fileExtension=".sql" allowed="false" />
          <add fileExtension=".bak" allowed="false" />
          <add fileExtension=".log" allowed="false" />
        </fileExtensions>
        <hiddenSegments>
          <add segment="application/config" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>